<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head'); %>
    <link rel="stylesheet" href="../../styles/reset.css"/>
    <link rel="stylesheet" href="../../styles/base.css"/>
    <link rel="stylesheet" href="../../styles/icons.css"/>
    <link rel="stylesheet" href="../../styles/layout.css"/>
    <link rel="stylesheet" href="../../styles/modules.css"/>
  </head>
  <body>
    <header>
      <%- include('../../layout/header'); %>
    </header>
    <section>
      <img src="<%= item.image_url %>">
      <h5><%= item.title %></h5>
      <h6><%= item.author %></h6>
      <p><%= item.summary %></p>
      <p><%= item.isbn %></p>
      <p><%= item.bookshelf %></p>
      <button action="<%=`/delete/${item.id}`%>"></button>
    </section>
    <button class="toggleForm">Show/Hide Update Form</button>
    <form id="form" class="hidden" action="<%=`/update/${item.id}`%>" method="post">
      <legend>Update Book</legend>
      <input type="hidden" name="_method" value="put">
      <input type="text" name="title" placeholder="<%= item.title %>">
      <input type="text" name="author" placeholder="<%=item.author %>">
      <textarea type="text" name="summary" placeholder="<%=item.description %>" cols="30" rows="10"></textarea>
      <input type="text" name="isbn" placeholder="<%=item.isbn %>">
      <input type="text" name="bookshelf" placeholder="Add a bookshelf">
      <button type="submit">Finish and Save Book to Collection</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../app.js"></script>
  </body>
</html>