<section>
  <img src="<%= item.image_url %>">
  <h5><%= item.title %></h5>
  <h6><%= item.author %></h6>
  <p><%= item.description %></p>
  <a href='/books/<%= item.id%>'>View Details</a>
  <!-- <p><%= item.isbn %></p> -->
  <!-- <p><%= item.bookshelf %></p> -->
</section>