<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head'); %>
    <link rel="stylesheet" href="../../styles/reset.css"/>
    <link rel="stylesheet" href="../../styles/base.css"/>
    <link rel="stylesheet" href="../../styles/icons.css"/>
    <link rel="stylesheet" href="../../styles/layout.css"/>
    <link rel="stylesheet" href="../../styles/modules.css"/>
  </head>
  <body>
    <header>
      <%- include('../../layout/header'); %>
    </header>
    <section>
      <img src="<%= item.image_url %>">
      <h5><%= item.title %></h5>
      <h6><%= item.author %></h6>
      <p><%= item.description %></p>
      <p><%= item.isbn %></p>
      <p><%= item.bookshelf %></p>
      <form action="<%=`/books/${item.id}/delete`%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete this book from Collection</button>
      </form>
    </section>
    <button class="toggleForm">Show/Hide Update Form</button>
    <form id="update" class="hidden" action="<%=`/books/${item.id}/update`%>" method="post">
      <legend>Update Book</legend>
      <input type="hidden" name="_method" value="put">
      <input type="text" name="title" value="<%= item.title %>">
      <input type="text" name="author" value="<%=item.author %>">
      <textarea type="text" name="summary" cols="30" rows="10"> <%=item.description %></textarea>
      <input type="text" name="isbn" value="<%=item.isbn %>">
      <div class="clearfloat"></div>
      <label for ="selectBookshelf">Choose a bookshelf:</label>
      <select id="bookshelf">
        <option>Bookshelves</option>
        <% bookshelves.forEach(bookshelf => { %>
          <option value="<%=bookshelf %>"><%=bookshelf %></option>
        <% }) %>
      </select>
      <div class="clearfloat"></div>
      <input type="text" id="shelf" placeholder="Add new bookshelf">
      <button id="newShelfButton">Add new Bookshelf</button>
      <button type="submit">Finish and Save Book to Collection</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../app.js"></script>
  </body>
</html>